.navbar-wrapper .brand-logo {
	padding-left: 15px;
}

.btn-facebook {
	background-color: #4267B2 !important;
}

.button-tooltip-wrapper {
	margin-bottom: 10px;
}

.button-tooltip-wrapper > .btn {
	width: 100%;
}

#buttons-group > .btn {
	margin-bottom: 10px;
	width: 100%;
	padding-left: 14px;
	padding-right: 14px;
}

.cropit-image-input {
	display: none;
}

#avatar-cropper > .cropit-preview {
	position: relative;
	width: 230px;
	height: 230px;
}

#overlay, #preview-container {
	position: relative;
	width: 400px;
	height: 400px;
	z-index: 1;
}

.cropit-preview {
	top: 66px;
	left: 144px;
}

#overlay {
	pointer-events: none;
	position: absolute;
}

.separator {
	padding-bottom: 5px;
	text-align: center;
}

.cropit-preview-image {
	position: absolute;
}

.btn-rotate {
	display: inline;
	padding-left: 9px;
	padding-right: 9px;
	margin-left	: 10px;
}

.cropit-controls {
	margin-top: 10px;
}

#ava-choose-overlay-modal img {
	max-width: 250px;
}

.enlarge-on-hover {
}

.enlarge-on-hover:nth-child(2){
	position: relative;
	left: 20px;
}


#ava-choose-overlay-modal div.hoverable {
	cursor: pointer;
	display: inline-block;
	margin: 20px;
}

/* https://scottcheng.github.io/cropit/ */
.cropit-preview-background {
  opacity: .5;
}

input.cropit-image-zoom-input {
  position: relative;
}

input.cropit-image-zoom-input[disabled="disabled"] {
  opacity: .2;
}

h1 {
	margin-top: 17px;
}